torch
torchvision
einops
opencv-python
timm==0.6.13
tqdm
torchprofile
termcolor
deepspeed
ptflops

matplotlib
transformers
onnx
onnxsim
onnxruntime
git+https://github.com/alibaba/TinyNeuralNetwork.git

pycocotools

